h1{
    font-family: "Times New Roman", Times, serif; 
    font-size: 40px;
    color: rgb(116, 3, 3);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    color: green;
    font-style:italic;
    font-style: bold;
    background-color: yellowgreen;
    float:left;


}

p{
    font-family: "Times New Roman", Times, serif; 
    font-style: italic;
    font-size:14px;
    background-color: orange;
    color: purple;
}

